.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

a:visited {
  color: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo-header {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: #212121;
}

.logo-color {
  color: #2196f3;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: #212121;
  display: flex;
}

.navigation-list-link {
  color: #212121;
  padding-bottom: 39px;
  position: relative;
}

.navigation-list-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: #2196f3;
  border-radius: 2px;
  display: none;
}

.navigation-list-link:hover::after {
  display: block;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.header {
  padding: 32px 0;
}

.header .address {
  margin-left: auto;
}

.address {
  display: flex;
  align-items: center;
}

.header-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.header-address-link {
  color: #757575;
}

.header-address:not(:last-child) {
  margin-right: 50px;
}

.header-address-link:hover, .header-address-link:focus {
  color: #2196f3;
}

.header-address:hover .header-address-svg {
  fill: #2196f3;
}

.header-address-svg {
  margin-right: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
}

.model-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #212121;
}

.model-title-contract-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.close-btn-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-btn-svg:hover {
  fill: #2196f3;
}

.model-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.model-form-btn {
  align-self: flex-start;
}

.model-form-input:focus, .model-form-message:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.model-form-input:focus + .model-form-name-svg {
  fill: #2196f3;
}

.model-form-message::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.model-form-label-wrapper {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.model-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  cursor: pointer;
}

.model-form-message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.model-form-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.model-form-name-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.model-form-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 55px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.model-form-submit-btn {
  display: flex;
  justify-content: center;
}

.model-check-contact {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.model-check-contact::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 7px;
}

.model-form-contract:checked + .model-check-contact::before {
  background-color: #2196f3;
  background-image: url("../imags/vector.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.title-item {
  background: #2f303a;
  margin-bottom: 94px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imags/title-foto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-list {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.title-btn {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 136px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.187;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.about-list {
  display: flex;
  margin-bottom: 94px;
}

.about-list-item::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.about-list-item-antenna::before {
  background-image: url(../imags/antenna.svg);
}

.about-list-item-clock::before {
  background-image: url(../imags/clock.svg);
}

.about-list-item-diagrama::before {
  background-image: url(../imags/diagram.svg);
}

.about-list-item-astronaut::before {
  background-image: url(../imags/astronaut.svg);
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-list-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  padding-right: 10px;
}

.about-list-link {
  margin-bottom: 10px;
}

.doing-title {
  margin-bottom: 50px;
}

.doing-list {
  display: flex;
  margin-bottom: 94px;
}

.doing-list-item:not(:last-child) {
  margin-right: 30px;
}

.doing-list-item {
  position: relative;
}

.doing-overley {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.doing-overley-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 27px;
  color: #ffffff;
}

.clients-title,
.doing-title,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  font-family: "Roboto", sans-serif;
}

.team-title {
  margin-bottom: 50px;
}

.team-container {
  background: #f5f4fa;
  padding-top: 186px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item {
  border: 1px solid transparent;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-img {
  margin-bottom: 30px;
}

.team-list-name {
  margin-bottom: 10px;
}

.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-list-link:hover {
  background-color: #2196f3;
}

.social-list-link:hover .social-list-svg {
  fill: #ffffff;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-list-link {
  fill: #afb1b8;
}

.clients-list-link:hover .clients-list-svg {
  fill: #2196f3;
}

.clients-list-link:hover {
  border-color: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-social-link {
  margin-left: 70px;
}

.container-footer {
  display: flex;
  align-items: baseline;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-list-svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-social-list-link:hover {
  background-color: #2196f3;
}

.footer-social-list-link:hover .footer-social-list-svg {
  fill: #ffffff;
}

.social-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-list-link {
  color: #757575;
}

.contacts-list-link-map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts-list-link-map:hover, .contacts-list-link-map:focus, .contacts-list-link:hover, .contacts-list-link:focus {
  color: #2196f3;
}

.contacts-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
}

.contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.form {
  margin-left: 93px;
  margin-right: 215px;
}

.form-fild {
  display: flex;
}

.form-fild input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
}

.form-fild-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  outline: none;
}

.form-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.form-btn-svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

.form-input-email {
  padding: 15px 16px;
  background: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}

.form-input-email:focus {
  outline: none;
}

.form-input-email::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */