.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  &-title {
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;

  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
  }
  &-item:not(:last-child) {
    margin-right: 30px;
  }

  &-link {
    fill: #afb1b8;
  }
  &-link:hover .clients-list-svg {
    fill: #2196f3;
  }

  &-link:hover {
    border-color: #2196f3;
  }
}
