.clients-title,
.doing-title,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-theme-color;
  font-family: $main-font;
}
.team {
  &-title {
    margin-bottom: 50px;
  }
  &-container {
    background: #f5f4fa;
    padding-top: 186px;
    padding-bottom: 94px;
  }
}
.team-list {
  display: flex;
  justify-content: center;

  &-item:not(:last-child) {
    margin-right: 30px;
  }

  &-item {
    border: 1px solid transparent;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &-img {
    margin-bottom: 30px;
  }

  &-name {
    margin-bottom: 10px;
  }
  &-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  &-item:not(:last-child) {
    margin-right: 10px;
  }
  &-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  &-svg {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
  }

  &-link:hover {
    background-color: #2196f3;
  }

  &-link:hover .social-list-svg {
    fill: #ffffff;
  }
}
