.work-list {
  display: flex;
  flex-wrap: wrap;

  &-item {
    display: inline-block;
    width: 370px;
    height: 404px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;

    overflow: hidden;
  }

  &-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }

  &-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
    margin-left: 24px;
  }

  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 20px;
    margin-left: 24px;
  }

  &-img {
    margin-bottom: 20px;
  }

  &-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.work-overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 370px;
  height: 294px;

  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: #ffffff;
    padding: 63px 24px;
  }

  .work-list-item:hover & {
    transform: translateY(0);
  }

  &-img {
    overflow: hidden;
    position: relative;
    height: 294px;
  }
}
