.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  padding: 32px 0;

  &-btn {
    display: inline-flex;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.header-btn .header-btn-close {
  display: none;
}

.header-btn.is-open .header-btn-close {
  display: block;
}
.header-btn.is-open .header-btn-burger {
  display: none;
}

.header-address {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.02em;

  &-link {
    display: flex;
    align-items: center;
    color: #757575;
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &-link:hover,
  &-link:focus {
    color: $accent-color;
  }
  &:hover &-svg-mail {
    fill: #2196f3;
  }
  &:hover &-svg-tel {
    fill: #2196f3;
  }

  &-svg-mail,
  &-svg-tel {
    margin-right: 8px;
  }
}
@media screen and (max-width: 767px) {
  .header-address:not(:last-child) {
    margin-bottom: 16px;
  }
  .header-address {
    font-size: 18px;
    line-height: 1.166;

    &-link {
      justify-content: center;
    }
    &-svg-tel {
      width: 10px;
      height: 15px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .address {
    display: flex;
    align-items: center;
  }
  .header-address {
    font-size: 14px;
    line-height: 1.142;

    &-svg-mail {
      width: 16px;
      height: 12px;
    }
    &-svg-tel {
      width: 10px;
      height: 16px;
    }
  }
  .header-address:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
    &-svg {
      margin-right: 8px;
    }
  }
}

// .header {
//   padding: 32px 0;

//   & .address {
//     margin-left: auto;
//   }
// }

// .address {
//   display: flex;
//   align-items: center;
// }
// .header-address {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.142;
//   letter-spacing: 0.02em;

//   &-link {
//     color: #757575;
//   }
//   &:not(:last-child) {
//     margin-right: 50px;
//   }

//   &-link:hover,
//   &-link:focus {
//     color: $accent-color;
//   }
//   &:hover &-svg {
//     fill: #2196f3;
//   }
//   &-svg {
//     margin-right: 10px;
//   }
// }
